{% extends "lms/templates/lms_base.html" %}
{% block title %}
Mon profil
{% endblock %}

{% block page_content %}
<div class="app-logo" style="display: none;"></div>
{% include "lms/templates/navbar.html" %}
<div class="main-content-div">
    {% include "lms/templates/side_bar/side_bar.html" %}
    <section class="main-content">

        <div class="calednar-action">Calendrier de présence</div>
        <div id="calendar-container">
            <div class="calendar-controls">
                <span id="currentMonthYear"></span>
                <div class="row-controls">
                    <a id="prevMonth">&lt;</a>
                    <a id="nextMonth">&gt;</a>
                </div>
            </div>
            <div id="calendar"></div>

        </div>
    </section>
</div>

{% endblock %}