{% block javascript %}
<script type="text/javascript">
    var myJsTab = "{{ tab }}";
</script>
{% if tab == 'biblio-dtl' %}
<script type="text/javascript">
    var myJsBiblio = {{ biblio_dtl }};
</script>
{% endif %}
{% endblock %}

{% extends "lms/templates/lms_base.html" %}


{% block title %}
Mon profil
{% endblock %}



{% block page_content %}
<svg id="frappe-symbols" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
    <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="icon-users">
        <path
            d="M17.727 18.728H20a1 1 0 0 0 1-1v-2.537a.818.818 0 0 0-.515-.76l-3.061-1.226a.819.819 0 0 1-.515-.758v-.718a3.258 3.258 0 0 0 1.636-2.82V7.274a3.272 3.272 0 0 0-4.909-2.835m.304 10.811l-3.062-1.227a.818.818 0 0 1-.514-.758v-.369c2.675-.357 3.272-1.532 3.272-1.532S12 9.728 12 8.092a3.273 3.273 0 1 0-6.545 0c0 1.636-1.637 3.272-1.637 3.272s.597 1.175 3.273 1.532v.37a.818.818 0 0 1-.515.758l-3.061 1.228a.819.819 0 0 0-.515.757v1.72a1 1 0 0 0 1 1h9.454a1 1 0 0 0 1-1v-1.72a.818.818 0 0 0-.514-.759z"
            stroke="var(--icon-stroke)" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
    </symbol>

    <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="icon-education">
        <path d="M12 5.625V14" stroke="var(--icon-stroke)" stroke-miterlimit="10" stroke-linecap="round"></path>
        <path
            d="M14.125 3.5C12.951 3.5 12 4.45 12 5.625 12 4.451 11.05 3.5 9.875 3.5H4.5a1 1 0 0 0-1 1v11.875a2 2 0 0 0 2 2h4.375c1.174 0 2.125.95 2.125 2.125 0-1.174.95-2.125 2.125-2.125H18.5a2 2 0 0 0 2-2V4.5a1 1 0 0 0-1-1h-5.375z"
            stroke="var(--icon-stroke)" stroke-miterlimit="10" stroke-linecap="square"></path>
    </symbol>

</svg>
<div class="app-logo" style="display: none;"></div>
<nav class="navbar navbar-light navbar-expand-lg" style="display: block !important;">
    <div class="container">
        <div class="lp-logo">
            <img src="/files/logo_academy.png" alt="cosumar logo">
        </div>
        <a class="navbar-brand" href="/parcours"><span>BIENVENUE {{ member.full_name }} !</span>
            <span>Que souhaitez-vous apprendre aujourd'hui ?</span></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="mr-auto navbar-nav">
            </ul>
            <ul class="ml-auto navbar-nav">
                <!-- post login tools -->
                <li class="nav-item dropdown logged-in" data-label="website-post-login" id="website-post-login">
                    <a class="nav-link nav-avatar" data-toggle="dropdown" href="#" aria-expanded="false">
                        <span class="user-image-wrapper"><span class="avatar avatar-medium filterable" title="ismail"
                                data-filter="_assign,like,%null%">
                                <div class="avatar-frame standard-image"
                                    style="background-color: var(--purple-avatar-bg); color: var(--purple-avatar-color)">
                                    i
                                </div>
                            </span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"><a class="dropdown-item" href="/me"
                            rel="nofollow">
                            My Account
                        </a><a class="dropdown-item" href="/?cmd=web_logout" rel="nofollow">
                            Log out
                        </a><a class="dropdown-item switch-to-desk" href="/app">Switch To Desk</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-login-area" href="/login" style="display: none;">Login</a>
                </li>
            </ul>
        </div>
        <div class="form-group mb-0 hide" id="language-switcher">
            <select class="form-control"></select>
        </div>
    </div>
    <div class="recap">
        {% for info in recap_data %}
        <div class="info-container">
            <img src="files/img-{{info[2]}}.png" />
            <div class="txt-info">
                {{ info[1] }} Formations
                <div class="sub-txt">{{ info[0] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</nav>
<div class="main-content-div">
    <section class="hb-side-bar">
        <ul class="menu-main">
            <li data-link="oadazk" class="{{ 'active' if tab=='dashboard' else '' }}"><img
                    src="files/dashboard.png" />Tableau de bord</li>
            <li data-link="" class="{{ 'active' if tab=='parcours' else '' }}"><img src="files/parcours.png" />Mon
                parcours</li>
            <li data-link="feasqda" class="{{ 'active' if tab=='courses' else '' }}"><img
                    src="files/messessions.png" />Mes formations</li>
            <li data-link="aozdlaz" class="{{ 'active' if tab=='quiz' else '' }}"><img src="files/certificat.png" />Mes
                certificats</li>
            <li data-link="Solidity" class="{{ 'active' if tab=='librarie' else '' }}"><img
                    src="files/biblio.png" />Bibliothèque</li>
            <li data-link="forum" class="{{ 'active' if tab=='forum' else '' }}"><img src="files/forum.png" />Forum</li>
        </ul>
        <ul class="menu-footer">
            <li>Paramétres</li>
            <li>Déconnexion</li>
        </ul>
    </section>
    <section class="main-content">
        {% if tab == 'parcours' %}
        <div id="parcours">
            <div class="title">{{title_}}</div>
            <div class="module-content">
                <div class="module-tab">
                    {% for tab_item in tab_parcours %}
                    {% if tab_parcours[tab_item] == 0 %}
                    <div class="module-item" data-module="{{tab_item}}"><img src="/files/module_icon.png" />{{tab_item}}
                    </div>
                    {% else %}
                    <div class="module-item-parent"><img src="/files/module_icon.png" />{{tab_item}}
                        {% for sub_tab_item in tab_parcours[tab_item] %}
                        <div class="module-item" data-module="{{sub_tab_item}}"><img
                                src="/files/sub_module.png" />{{sub_tab_item}}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                {% for parcour in parcours %}
                {% set count = namespace(value=1) %}
                <div class="module-training" data-trainning="{{parcour}}">
                    {% for item in parcours[parcour] %}
                    {% set class_read = '' %}
                    {% if item.is_open or item.status != 'not-started' or item.inscrit %}
                    <div onclick="window.open('/courses/{{item.course}}', '_blank');"
                        class="module-trainig-item active {{item.status}}">
                        {% set class_read = 'read-green' %}
                        {% else %}
                        <div class="module-trainig-item {{item.status}}">
                            {% endif %}
                            <span>{{item.training}}</span>

                            {% if item.tag %}
                            <br /><span class="class-tag">{{item.tag}}</span>
                            {% endif %}
                            {% if item.start_date and item.status == 'not-started' %}
                            <span class="class-start">{{item.start_date}}</span>
                            {% endif %}
                            <span class="number">{{count.value}}</span>
                            <span class="training-type"><img src="/files/local.png" />{{item.classroom}}</span>
                            {% if item.status == 'Completed' %}
                            <img src="/files/completed.png" />
                            {% elif item.status == 'Started' %}
                            <span class="span_status">EN COURS</span>
                            {% elif item.status == 'Failed' %}
                            <span class="span_status failed_s">FAILED</span>
                            {% elif item.status == 'not-started' and (item.is_open or item.inscrit) %}
                            <span class="span_status">INSCRIT</span>
                            {% elif item.start_date and item.status == 'not-started' %}
                            <span class="span_status">PLANIFIÈ</span>
                            {% else %}
                            <span class="span_status">NON PLANIFIÈ</span>
                            {% endif %}
                        </div>

                        {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                {% if tab == 'dashboard' %}
                <div id="dashboard">
                    <div class="nav-header">
                        <div class="header-user">
                            <span id="user-name"></span>
                            <span class="slogan"></span>
                        </div>
                    </div>
                    <div class="codex-container">
                        <div class="ce-block col-sm-12 col-md-9">
                            <div class="row" id="status-container">

                                <p>Reprendre vos cours en ligne</p>
                                <div class="mini-slider">
                                    {% if courses_continued | length %}
                                    <div class="slide-nav lt"><span onclick="previous('cc-sld')">&lt;</span> </div>
                                    <div class="cards-parent cc-sld-p">
                                        {% set cc_count = namespace(value=1) %}
                                        {% for course in courses_continued %}
                                        <div class="cc-sld sld{{cc_count.value}}">
                                            {{ widgets.CourseCard(course=course, read_only=False) }}
                                        </div>
                                        {% set cc_count.value = cc_count.value + 1 %}
                                        {% endfor %}
                                    </div>
                                    <div class="slide-nav gt"><span onclick="next('cc-sld')">&gt;</span> </div>

                                    {% else %}
                                    <div class="empty-state">
                                        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
                                        <div class="empty-state-text">
                                            <div class="empty-state-heading">{{ _("No {0}").format(title) }}</div>
                                            <div class="course-meta">{{ _("There are no {0} on this
                                                site.").format(title.lower()) }}</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>

                                <p>Les cours auxquels vous êtes inscrits</p>
                                <div class="mini-slider no-progr">
                                    {% if courses_subscribed | length %}
                                    <div class="slide-nav lt"><span onclick="previous('cs-sld')">&lt;</span> </div>
                                    <div class="cards-parent cs-sld-p">
                                        {% set cs_count = namespace(value=1) %}
                                        {% for course in courses_subscribed %}
                                        <div class="cs-sld sld{{cs_count.value}}">
                                            {{ widgets.CourseCard(course=course, read_only=False) }}
                                        </div>
                                        {% set cs_count.value = cs_count.value + 1 %}
                                        {% endfor %}
                                    </div>
                                    <div class="slide-nav gt"><span onclick="next('cs-sld')">&gt;</span> </div>
                                    {% else %}
                                    <div class="empty-state">
                                        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
                                        <div class="empty-state-text">
                                            <div class="empty-state-heading">{{ _("No {0}").format(title) }}
                                            </div>
                                            <div class="course-meta">{{ _("There are no {0} on this
                                                site.").format(title.lower()) }}</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <div class="ce-block col-xs-12 col-sm-12 col-md-3">
                            <div id="calendar-container">
                                <div class="calednar-action"><a href="/calendar">Afficher >></a></div>
                                <div class="calendar-controls">
                                    <span id="currentMonthYear"></span>
                                </div>
                                <div id="calendar"></div>

                            </div>
                            <div class="" id="progres-container">
                                <div class="title">Progressions</div>
                                <div class="body">
                                    {% for item in dashbord %}
                                    <div class="progres {{item.class_prog}}">
                                        <div class="number">{{item.progress}}%</div>
                                        <div class="text-progress">
                                            <span class="text">{{item.course}}</span>
                                            <div class="progressbar">
                                                <span style="width: {{item.progress}}%" class="prog-fil"></span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if tab == 'courses' %}
                <div id="courses">
                    {% include "lms/templates/search_course/search_course.html" %}
                    <div class="head">
                        <div class="title">Mes courses</div>
                        <a class="btn btn-default btn-sm ml-2" id="open-search">
                            {{ _("Search") }} (Ctrl + k)
                        </a>
                    </div>
                    {% set courses = enrolled_courses %}
                    {% set title = _("Enrolled Courses") %}
                    {% set classes = "enrolled-courses" %}
                    {% include "lms/templates/course_list.html" %}
                </div>
                {% endif %}
                {% if tab == 'biblio' %}
                <div id="biblio">
                    {% for item_b in biblio %}
                    <a class="biblio-card" href="/parcours?xsaoaz=dtl-ytidilos&idx={{item_b.name}}">
                        <div class="{% if not item_b.img %} default-image {% endif %}" {% if item_b.img %}
                            style="background-image: url( {{ item_b.img | urlencode }} );" {% else %}
                            style='background-image: url("/files/Frame (1).png");' {% endif %}>
                        </div>
                        <div class="biblio-content">
                            {{item_b.label}}
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if tab == 'biblio-dtl' %}
                <div id="biblio-dtl">
                    <div class="tab">
                        <div class="tab-txt">
                            {{ biblio_dtl_txt }}
                        </div>
                        <div class="tab-btn">
                            <button class="tablinks" onclick="openTab(event, 'stage_report')">Stage Report</button>
                            <button class="tablinks" onclick="openTab(event, 'technic_doc')">Technical Document</button>
                            <button class="tablinks" onclick="openTab(event, 'inter_pub')">Internal Publication</button>
                        </div>

                    </div>

                    <div id="stage_report" class="tabcontent">
                    </div>

                    <div id="technic_doc" class="tabcontent">
                    </div>

                    <div id="inter_pub" class="tabcontent">
                    </div>
                </div>
                {% endif %}

    </section>
</div>

{% endblock %}