@font-face {
    font-family: "ITC BOLD";
    src: url("/assets/lms/css/ITCAvantGardeStdBold.otf");
}

@font-face {
    font-family: "ITC NRM";
    src: url("/assets/lms/css/ITCAvantGardeStdBk.otf");
}

@font-face {
    font-family: "ITC MD";
    src: url("/assets/lms/css/ITCAvantGardeStdMd.otf");
}

.txt-welcome {
    display: none;
}


body {
    background: #E6EFF5;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.profil-img {
    width: 150px;
    height: 150px;
    background: #dbe0e3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.user-name {
    color: #002F51;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0;
}



.main-content-div {
    display: flex;
    background: #fff;
    width: 100%;
}

.hb-side-bar .menu-main img {
    width: 24px;
    margin-right: 12px;
}

ul.menu-footer {
    border-top: 1px dotted #9fd5f3;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/lms/css/Montserrat-Regular.ttf");
}


section.main-content {
    flex: 1;
}

.hb-side-bar li.active {
    font-weight: bolder;
}

.codex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px -7px;
    padding-bottom: 20px !important;
}

.page-head.flex .container .row {
    display: none;
}




span#user-name {
    color: #000;
    font-family: Montserrat;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
}





.vertically-center {
    display: flex;
    align-items: center;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.icon {
    display: inline-block;
    font-size: 0;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    fill: transparent;
    stroke: #192734;
}

.icon-base,
.icon-md {
    width: 20px;
    height: 20px;
}

.course-card-title {
    font-weight: 600;
    color: #0d438e;
    font-size: 0.9rem;
}

.short-introduction {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    color: #6f6d6d
}



.info-container {
    display: flex;
    background: white;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    min-width: 180px;
    border-radius: 20px;
}

.info-container img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.txt-info {
    font-family: 'ITC BOLD';
}

.sub-txt {
    font-family: 'ITC NRM';
}


.slide-nav {

    position: absolute;
    background: #e9f6fe;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 7px;
    z-index: 99;
    cursor: pointer;
}

.slide-nav.lt {
    left: 0;
}

.slide-nav.gt {
    right: 0;
}

.slide-nav span {
    background: #0d438e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: white;
    font-weight: 800;
}




section.main-content {
    padding: 20px;
}

section.main-content>div:first-child {
    display: none;
}

span.btn.btn-md.btn-secondary-dark.reply {
    background: #2298d6;
}

span.discussion-heading {
    font-family: 'ITC MD';
    color: #007dc4;
}

.discussions-sidebar.card-style {
    box-shadow: unset;
}